
html, body {

    min-height: 100%;
}




nav.navbar.navbar-default {
    background: rgb(249,116,0);
    background: -moz-linear-gradient(left, rgba(249,116,0,1) 0%, rgba(0,0,0,1) 67%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(249,116,0,1)), color-stop(67%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(left, rgba(249,116,0,1) 0%,rgba(0,0,0,1) 67%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(left, rgba(249,116,0,1) 0%,rgba(0,0,0,1) 67%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(249,116,0,1) 0%,rgba(0,0,0,1) 67%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to right, rgba(249,116,0,1) 0%,rgba(0,0,0,1) 67%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f97400', endColorstr='#000000',GradientType=1 );
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
}

.navbar-default {
    background-color: #222222;
    border-color: transparent !important;
}

.navbar-default .navbar-brand {
    color: black !important;
    font-weight: bold;
}

.panel-success>.panel-heading {
    color: #ffffff;
    background-color: #00090C !important;
    border-bottom: 4px groove #F97400 !important;
}

.panel-success {
    border-color: black !important;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
}

.panel-info>.panel-heading {
    color: #000;
    background-color: #F97400;
    border-bottom: 4px groove #000 !important;
}

.panel-info {
    border-color: #000 !important;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
}

.alert-warning {
    background-color: rgba(255, 117, 24, 0.77) !important;
    border-color: #ff2306 !important;
    color: black !important;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
}

.glyphicon.glyphicon-asterisk {
    color: #FF0505;
    font-size: 8px;
}

.form-control:focus {
    border-color: #F97400 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #ff7518;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #ff7518;
}

.btn-primary {
    color: #000 !important;
    background-color: #F97400 !important;
    border-color: #F97400;
    font-weight: bold;
}


.alert-danger {
    background-color: #0A0500 !important;
    border-color: #F97400;
    color: red;
}


.text-primary, .text-primary:hover {
    color: rgb(214, 5, 5) !important;
}


div#silverH1 {
    background: rgb(254,254,254);
    background: -moz-linear-gradient(-45deg, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(226,226,226,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(254,254,254,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(226,226,226,1) 100%);
    background: linear-gradient(135deg, rgba(254,254,254,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(226,226,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=1 );
    border-bottom: 4px groove #F97400 !important;
}

div#gold {
    background: rgb(254,204,177);
    background: -moz-linear-gradient(-45deg, rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%);
    background: linear-gradient(135deg, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=1 );
    color: black;
    border-bottom: 4px groove #F97400 !important;
}

div#platinumH1 {
    background: rgb(224,239,249);
    background: -moz-linear-gradient(-45deg, rgba(224,239,249,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(242,246,248,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(224,239,249,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(242,246,248,1) 100%);
    background: linear-gradient(135deg, rgba(224,239,249,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(242,246,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0eff9', endColorstr='#f2f6f8',GradientType=1 );
    border-bottom: 4px groove #F97400 !important;
}

.panel-default {
    border-color: black;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
}

.panel-default>.panel-heading {
    color: #000000;
    font-weight: bold;
}

thead#orange {
    background: orange;
}

span.glyphicon.glyphicon.glyphicon-ok.orange {
    color: orange;
}

span.glyphicon.glyphicon.glyphicon-ok.blue {
    color: blue;
}

table.table.orange {
    margin: 37px 0 0 0 !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(255, 117, 24, 0.65) !important;
}

thead.blackThead {
    background: black;
    color: white;
}

img.img {
    width: 223px;
    margin: 0 0 0 -64px;
}

.table-hover>tbody>tr:hover {
    background-color: rgba(255, 117, 24, 0.17);
}


